*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* Inicio HEADER */
.nav{
    background-color: rgb(37, 36, 36);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    position: fixed;
    z-index: 9; /* GARANTE QUE MEU MENU VAI FICAR SEMPRE A FRENTE NA HORA DO SCROLL */
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 28px;
}

.nav-list a {
    text-decoration: none;
    color: ghostwhite;
    padding: 20px;
}

.nav-list a:hover{
    color: rgb(0, 94, 255);
}
/*------------------------------*/

/* MAIN */

.main{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10% ;
    height: calc(100vh - 10px);
    background-color: rgb(0, 0, 0);
    background-image: url("assets/images/programador.png");
}

.main h1 {
    color: aliceblue;
    font-size: 54px;

}

.main p {
    color: rgb(0, 94, 255);
    font-size: 24px;
    margin-top: 6px;
    margin-bottom: 8px;
    font-style: italic;
}

.button{
    cursor: pointer;
    padding: 10px;
    border: 0;
    border-radius: 8px;
    font-size: 25px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    transition: 0.8s;
}

.button:hover{
    transform: scale(1.1);
    background-color: black;
    color: white;
}

.main a {
    text-decoration: none;
    color: rgb(0,0,0);
}
/* --------------------------------------------------------------------------- */

/* ABOUT */

.about{
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about div{
    max-width: 50%;
    padding-right: 40px;
}

.about  img{
    max-width: 400px;
    border-radius: 15px;
}

.about div h2{
    font-size: 32px;
    margin-bottom: 20px;
}
.about div p {
    font-size: 100%;
}
/* --------------------------------------------------------------------------- */

/* Projects */
.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0; /* 80px CIMA E BAIXO */
}

.projects h2{
    font-size: 32px;
    margin-bottom: 8px;
    margin-top: 20px;
}

.projects p{
    margin-bottom: 40px;
    font-style: italic;
}

.project-list{
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects img{
    width: 22%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    opacity: 0.8;
    transition: 0.8s;
}

.projects img:hover{
    opacity: 1;
}

.action{
    background-color: rgb(18, 18, 18);
    border:0;
    padding: 12px 28px;
    border-radius: 4px;
    font-size: 24px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}
/* ---------------------------------------------- */

/* Footer */
footer{
    width: 100%;
    background-color: #181818;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
footer a{
    text-decoration: none;
    color: white;
}
footer p{
    margin-left: 12px;
}
/* -------------------------------------------------------- */

/* Trabalhando com Responsividade */

@media(max-width:1050px){
    /* MAIN */
    .main h1{
        font-size: 45px;
    }
    .main p{
        font-size: 18px;
    }
    .main {
        background-size: cover;
    }
    /*  */

    /* Sobre */
    .about{
        flex-direction: column;
        padding-top: 80px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    .about div{
        max-width: 80%;
    }
    .about div h2{
        font-size: 45px;
    }
    .about img{
        width: 80%;
        margin-top: 30px;
    }
    /*  */
    /*Sobre*/
    .projects img {
        width: 29%;
    }
    /*  */
    /* Footer */
    .footer {
        flex-direction: column;
    }
    .footer h3{
        font-size: 25px;
        margin-bottom: 8px;
    }
    .footer p{
        margin: 0;
    }
}